@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --color-pink-accent: #ec4899;
  --color-green-accent: #22c55e;
  --color-purple-accent: #8b5cf6;
  --color-orange-accent: #f97316;
}

body {
  background: #ffffff;
  color: #171717;
}
